.container {
  background-color: #6b728e;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  min-height: 400px;
}

.imagehero {
  width: 100%; 
  max-width: 280px; 
  top: 17.2%; 
  left: 50%; 
  transform: translateX(-50%); 
  position: absolute;
}

.textname {
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: justify;

  .textname2 {
    font-size: 30px;
  }
}

.texttitle {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: 30px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.texttitle2 {
  text-align: justify;
  display: flex;
  margin-right: 130px;
  width: 70%;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    padding: 1rem; 
  }

  .textname, .texttitle, .profile {
    width: 100%; 
  }

  .texttitle2 {
    margin-right: 0; 
  }
}

@media (max-width: 430px) {
  .container {
    flex-direction: column; 
    padding: 1rem; 
  }

  .textname, .texttitle, .profile {
    width: 100%; 
  }

  .texttitle2 {
    margin-right: 0; 
  }
}
